@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Nieoczekiwany błąd";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h4>Wystąpił nieoczekiwany błąd, w razie dalszych problemów skontaktuj się z administratorem.</h4>

