.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #ff3333;
}

.privacyPolicyInfo {
    font-size: 11px;
    position: fixed;
    bottom: 0;
    background-color: #464646;
    width: 100%;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
}

.privacyPolicyButton {
    font-size: 12px;
}